.featuresWrapper {
  flex-direction: column;
  background: #FFFAF3;
}

.featuresHeading {
  margin: 75px 10px 30px 10px;
  font-size:1.8rem;
  text-align: center;
}

.featuresList {
  width: 1100px;
  height: 390px;
  margin-right: 20px;

}

.featuresListWrapper{
  max-height: 500px;
}

