.flowBoder {
    border: 2px solid #e6eaee;
    height: 100px;
    width: 400px;
    margin: 25px 0 0 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flowItem h3 {
    font-size: 14px;
    color: #90959c;
    font-weight: bold;
}

.flowItem h1 {
    color: #4dccda;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
}


