* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Poppins", sans-serif;
  color: #353839;
}

/* utilities */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App.js */
.App {
  position: relative;
}

.fab {
  margin: 10px;
  color: #231f20;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before{
  color: rgb(232, 28, 75);
}

.slick-next:before{
  color: rgb(232, 28, 75);
}


.react-datepicker__input-container input{
   border: 1px solid rgb(144 149 156 / 33%);
   width: 40%;
   height: 40px;
   border-radius: 6px;
   padding-left: 10px;
}

