.carouselImage {
  height: 600px; /* Độ cao của hình ảnh */
  object-fit: cover; /* Hiển thị hình ảnh mà không bị bị kéo */
}

.carouselCaption {
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ cho caption */
  color: white; /* Màu chữ */
  padding: 10px; /* Khoảng cách giữa caption và hình ảnh */
  border-radius: 5px; /* Bo tròn góc của caption */
}
