.historyTransactionContainer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  .transactionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .transactionTable th, .transactionTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .transactionTable th {
    background-color: #f2f2f2;
  }
  