.main {
  background-color: #f4f3ef;
  color: #66615b;
  display: flex;
  padding: 8px;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 95px;
  > img {
    padding-left: 16px;
  }

  > div {
    margin-right: 35px;
    gap: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* div:nth-child(2) {
      > img {
        border-radius: 50%;
        border: 1px white solid;
        width: 44px;
        height: 44px;
      }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        align-items: flex-start;
        span {
          font-size: 16px;
        }
      }
    } */
  }
}
