.nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  box-shadow: 1px 2px 10px 1px rgb(0 0 0 / 10%);
  background: white;
  width: 90%;
}

.navItem {
  text-align: center;
  flex-grow: 1;
}

.navLink {
  display: block;
  text-align: center;
  padding: 10px 15px;
  color: #90959c;
  text-decoration: none;
  transition: color 0.3s, border-bottom-color 0.3s;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.navLink:hover {
  color: #4dccda; /* Màu sắc chủ đạo khi hover của Shopee */
}

.navLink.active {
  color: #4dccda; /* Màu sắc chủ đạo khi active của Shopee */
  font-weight: bold;
  border-bottom: 3px solid #4dccda; /* Đường viền dưới khi active của Shopee */
}
