.active {
  background-color: #d6f0e0;
  font-weight: 600;
  color: #0d6832;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}
.pending {
  font-weight: 600;
  height: 30px;
  background-color: #fbf0da;
  color: #73510d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}
