.navbarWrapper {
  width: 100%;
  height: min(10vh, 100px);
  z-index: 10000;
  position: relative;
  background-color: #ffffff;
}

.navbarInner {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding: 0 30px;
  width: 100%;
  height: 100%;
}

.navLeft {
  max-width: 200px;
  margin-left: 50px;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 150px;
}

.navLinksWrapper {
  display: flex;
  align-items: center;
}

.nav {
  color: grey;
  font-weight: 600;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

.nav:hover {
  color: #4dccda;
}

.brand {
  width: 65%;
  cursor: pointer;
  color: #4DA8DA;
  filter: drop-shadow(0px 0px 1px black);
}

.login {
  color: #000;
  border-left: solid 1px #4dccda;
  padding: 8px 12px;
  font-weight: 700;
  text-decoration: none;
  background-size: 0 100%;
  background-image: linear-gradient(#4dccda, #4481eb, #04befe, #4DA8DA);
  background-repeat: no-repeat;
  transition: all 0.4s linear;
  color: #000;
  border-radius: 40px;
  width: 110px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.login:hover {
  background-size: 100% 100%;
  color: #ececec;
  transition: all 0.4s cubic-bezier(0.000, 0.000, 0.230, 1);
}

.signup:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.signup:focus {
  outline: none;
}

.signup {
  background-image: linear-gradient(to right, #4dccda, #4481eb, #04befe, #4DA8DA);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.signup a{
  text-decoration: none;
  color: white;
}

.signup {
  font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100px;
}

.signup:hover {
  background-color: #4dccda;
}


.signup:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.signup:focus {
  outline: none;
}

.signup {
  background-image: linear-gradient(to right, #4dccda, #4481eb, #04befe, #4DA8DA);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.signup a{
  text-decoration: none;
  color: white;
}

.teal {
  background: white;
  display: flex;  
  align-items: center;
  height: 50px;
}

.teal .nav {
  color: #4DA8DA;
  text-decoration: none;
  /* font: 20px ; */
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.teal .nav:before,
.teal .nav:after {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 2px;
  content: '';
  background: #4DA8DA;
  transition: all 0.3s;
}

.teal .nav:before {
  left: 0;
  top: 0;
}

.teal .nav:after {
  right: 0;
  bottom: 0;
}

.teal .nav:hover:before,
.teal .nav:hover:after {
  opacity: 0.5;
  height: 2px;
  width: 100%;
}

.teal .nav:hover{
  color: #4dccda;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownToggle::after {
  content: " ▼";
  font-size: 0.7em;
}

.dropdownMenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  z-index: 1;
  margin-top: 6px;
  width: 220px;
  margin-left: 47px;
}

.dropdownMenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left: 0px;
}

.dropdownMenu a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownMenu {
  display: block;
}

.dropdownMenu .dropdownItem {
  color: #4DA8DA;
  font-size: 16px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.dropdownMenu .dropdownItem:before,
.dropdownMenu .dropdownItem:after {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 2px;
  content: '';
  background: #4DA8DA;
  transition: all 0.3s;
}

.dropdownMenu .dropdownItem:before {
  left: 0;
  top: 0;
}

.dropdownMenu .dropdownItem:after {
  right: 0;
  bottom: 0;
}

.dropdownMenu .dropdownItem:hover:before,
.dropdownMenu .dropdownItem:hover:after {
  opacity: 0.5;
  height: 2px;
  width: 100%;
  
}

.dropdownMenu .dropdownItem:hover{
  background: white;
  color: #4dccda;
}

.dropdownItem{
  width: 220px;
}







